cc=55 #if not specified it will be autodetected
#phone=15092703428
#phone=5519987059806
#phone=5519981379777
#phone=19252572486
#phone=48729290801
phone=5519987253448
id=abcdef0123456789
#password=y4cmI9FSOb1t746PGW+kV7gCrZw=
password=DWG1z2EldxHj0vxjYOaCQlKtl/8=

#Felixs-MacBook-Pro-2:yowsup2 felixdumit$ yowsup-cli registration -R 418119  -c zapzap.config
#INFO:yowsup.common.http.warequest:{"status":"ok","login":"5519987253448","pw":"DWG1z2EldxHj0vxjYOaCQlKtl/8=","type":"new","expiration":1448735297,"kind":"free","price":"US$0.99","cost":"0.99","currency":"USD","price_expiration":1420111565}

# status: ok
# kind: free
# pw: DWG1z2EldxHj0vxjYOaCQlKtl/8=
# price: US$0.99
# price_expiration: 1420111565
# currency: USD
# cost: 0.99
# expiration: 1448735297
# login: 5519987253448
# type: new