######## Yowsup Configuration file #####################
# Lines are commented using # and ;
# Your configuration should contain info about your login credentials to Whatsapp. This typically consist of 3 fields:\n
# cc:		Your country code. See http://www.ipipi.com/help/telephone-country-codes.htm
#		If not set, it will be autodetected from phonenumber
# phone:	Your full phone number including country code, without '+' or '00'
# id:		This field is used in registration calls (-r|-R|-e), and for login if you are trying to use an existing account that is setup
#		on a physical device. Whatsapp has recently deprecated using IMEI/MAC to generate the account's password in updated versions
#		of their clients. Use --v1 switch to try it anyway. Typically this field should contain the phone's IMEI if your account is setup on
#		a Nokia or an Android device, or the phone's WLAN's MAC Address for iOS devices. If you are not trying to use existing credentials
#		or want to register, you can leave this field blank or set it to some random text.
# password:	Password to use for login. You obtain this password when you register using Yowsup.
######################################################

## Actual config starts below ##

cc= #if not specified it will be autodetected
#phone=15092703428
#phone=5519987059806
phone=5519981379777
#phone=19252572486
id=abcdef0123456789
password=y4cmI9FSOb1t746PGW+kV7gCrZw=


#IMEI: 355255052411429/01

#links legais
## http://sirpoot.blogspot.in/2014/08/using-yowsup-to-send-pictures-to-group.html

#NUMERO FELIX
# Felixs-MBP-2:src felixdumit$ ./yowsup-cli -R 992-226 -c zapzap.config
# Detected cc: 55
# status: ok
# kind: free
# pw: NvS8SH79cLJrjMUmZ51Ct9oODwM=
# price: US$0.99
# price_expiration: 1419692714
# currency: USD
# cost: 0.99
# expiration: 1420081120
# login: 5519987059806
# type: existing

#NUMERO 81379777
# Felixs-MBP-2:src felixdumit$ ./yowsup-cli -R 549-364 -c zapzap.config Detected cc: 55
# status: ok
# kind: free
# pw: y4cmI9FSOb1t746PGW+kV7gCrZw=
# price: US$0.99
# price_expiration: 1419914469
# currency: USD
# cost: 0.99
# expiration: 1448306341
# login: 5519981379777
# type: new
# id=abcdef0123456789


